@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
/* Universal styles */
:root {
  --common-color: #3a3a3a;
}

.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2.5625rem;
  background: #e02c6d;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
}
.btn-primary svg {
  vertical-align: middle;
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}
/* nav */

.bigScreen {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.mobile {
  display: none;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
nav h4 {
  color: var(--common-color);
  font-size: 1.5rem;
  font-weight: 700;
}
ul li a {
  margin-left: 2.12rem;
  line-height: 2rem;
  color: var(--common-color);
  font-size: 1rem;
  font-weight: 600;
}

.header_container {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_content {
  width: 36rem;
}
.header_title {
  color: var(--common-color);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem; /* 134.615% */
  margin-bottom: 1rem;
}
.header_desc {
  color: var(--common-color);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.header_img {
  width: 29rem;
  height: 29rem;
  background-image: url('./images/Circle\ design.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.header_img img {
  width: 27rem;
  position: relative;
  top: 2.3rem;
}

/*----------- MEDIA QUERY -----------*/

/* -------------- MOBILE SCREEN ----------- */
@media screen and (max-width: 576px) {
  .bigScreen {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_container{
    flex-direction: column-reverse;
  }
  .header_img {
    width: 16rem;
    height: 16rem;
    margin-top: 1.4rem;
  }
  .header_img img {
    width: 14rem;
    top: 1.5rem;
  }
  .header_content {
    width: 22rem;
    text-align: center;
    margin-top: 1.3rem;
  }
  .header_title {
    font-size: 2.25rem;
  }
  .mobile svg{
    vertical-align: middle;
  }

}

/* ----------- TABLET SCREEN ----------- */
@media screen and (min-width: 576px) and (max-width: 992px) {
}
