@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
/* Universal styles */
:root {
  --common-color: #3a3a3a;
}

ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
}

/* Header */
header {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}
/* nav */
nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: tomato;
}
ul {
  display: flex;
}
nav h4 {
  color: var(--common-color);
  font-size: 1.5rem;
  font-weight: 700;
}
ul li a {
  margin-left: 2.12rem;
  line-height: 2rem;
  color: var(--common-color);
  font-size: 1rem;
  font-weight: 600;
}

/*----------- MEDIA QUERY -----------*/

/* -------------- MOBILE SCREEN ----------- */
@media screen and (max-width: 576px) {
}

/* ----------- TABLET SCREEN ----------- */
@media screen and (min-width: 576px) and (max-width: 992px) {
}
